.addTrip{
padding: 5%;    
margin-top: 2%;
border-left: 5px solid #1C6EA4;
border-bottom:5px solid #1C6EA4 ;
border-radius: 0px 40px 0px 40px;
box-shadow: 0px 0px 10px 0px black;
}
.btn{
    position: relative;
    margin: auto;
    display: block;
}
span{
    color: red;
}