.footer{
    position: fixed;
    width: 100%;
    height: 40px;
    background:linear-gradient( rgb(255, 255, 255),#2e8fd6,);
    bottom: 0px;
}
.enlaces{
    position: relative;
    float: right;
    right: 15px;
    top: 10px;
}
.paddingLeft{
    padding-left: 10px;
} 