.logo4Trip{
       position: relative;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
body{
    background-color: gainsboro;}
.title{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.btn-login{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.form-control
{
    width: 85%;
    margin: auto;
}
.label1
{
    display: inline-block;
    margin-bottom: 0.5rem;
    position: relative;
    left: 8%;
}
.label2
{
    display: inline-block;
    margin-bottom: 0.5rem;
    position: relative;
    left: 8%;
}
.msg-error-login{
    color: red;
    position: relative;
    left: 8%;
}
.newaccount{
    color: gray;
    text-align: center;
    margin-bottom: 2%;
}
.oculto{
    display: none;
}
        