
.navbar{ 
    background:#2e8fd6;
    color : bisque;
} 

 .btnRegistroLogin{ 
     color:rgb(240, 235, 235);
     background-color: none;
 }
 .logo{
    width: 15%;
}
.search-btn{
    flex-wrap: nowrap ;
}