.offer{
    margin-top: 10%;
}
.sendoffer{
    background-color: hsl(204, 71%, 38%);
}
.attachment{
	height:60px;
	width:60px;
	margin:10px auto;
	border:1px solid white;
	border-radius:60px;
	overflow:hidden;
	position:relative;
}
.seleccionar{
    display: block;
    padding: 60px;
    background-color: white;
}