.offer{
    margin-top: 10%;
}

.detalleoferta{
    margin: 3%;
    background-color: white;
    border-left: 5px solid #1C6EA4;
    border-bottom:5px solid #1C6EA4 ;
    border-radius: 0px 40px 0px 40px;
}
.textoffer{
    margin: 20px;
    padding: 2%;
    background-color: #d6d6d6;
    border-radius: 10px;
    overflow: auto;
}
.comentarios{
    margin:1%;
    padding: 2%;
    width: 100%;
}
.detallecomentarios{
    background-color: rgb(228, 228, 228);
    margin: 2%;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 15px;
}
.sendcomment{
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 15px;
    margin: 2%;
    padding: 2%;
}
.inputfile{
    display: none;
}
.postcomment :hover{
    cursor: pointer;
}
.postcomment{
    margin: 0 4%;
    width: 100%; 
}
.avatarcomment{
    border-radius: 50%;
    width: 100px;
}
.public-offer{
padding: 10px; 
    background-color: #1C6EA4;
    border-radius: 6px;
}
.write-offer{
        margin-left: 20px;
}
.camara-icon{
    font-size: 35px;
}
.stars{
    padding-left: 30px;
    padding-top: 5px;
}
.card-title-offer{
    padding-left: 15px;
}
.comments-button{
    text-align: center;
}
.show-comments{
    margin-bottom: 10px;
}
.camara-comment-traveler{
    font-size: 35px;
}
.img-offer{
    width: 30%;
    img{
        width: 100%;
    }
}

.text-offer{
    width: 70%;
}