img{
    width: 200px;
    border-radius: 50%;
    background-color: black;
}
body{
    background-color: #E5E5E5;
}
span{
    color: red;
}
.inputForm{
    width:400px;
    margin: auto;
}
.myForm {
    width: 700px;
    margin: auto;
    margin-top: 200px;
    position: relative;
    
}
