.myForm{
    border-left: 5px solid #1C6EA4;
    border-bottom:5px solid #1C6EA4 ;
    border-bottom: 5px solid #1C6EA4;
    border-radius: 0px 40px 0px 40px;
    box-shadow: 0px 0px 10px 0px black;
    position: absolute;
    width: 100%;
}


span{
    color: red;
    position: relative;
    left: 10%;
}
.form-control{
   width: 80%;
    position: relative;
    margin: auto;
}
.btn{
    position: relative;
    top:10%;
    margin: auto;
    width: 70%;
}

.alert-success{
    margin: 0;
    height: 6%;
    border-radius: 0px 40px 0px 0px;
}
label{
    color: black;
    margin: 1%;
}
