.avatar-traveler{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.traveler-data{
    text-align: center;
    font-size: 48px;
    color: #000000;
    font-weight: 750;
}
.img-container{
    text-align: center;
}
.h2 {
font-size: 48px;
color: #000000;
font-weight: 750;
}
.traveler-img{ 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    bottom: 15px;
}
.card{
    padding: 20px;
    top: 75px;
    width: 350px;
    margin: auto;
 }
.card-title{
    margin: auto;
}
.edit-icon:hover{
    cursor: pointer;
}
.username{
    margin: 20px;
    width: 175px;
    position: relative;
    left: 14%;
}
.email-input{
    margin: 12px;
    position: relative;
    left: 12%
}
.save-btn{
    width: 75%;
    margin: auto;
    position: relative;
    top: 10px;
}

