.avatar-traveler{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.traveler-data{
    text-align: center;
    font-size: 48px;
    color: #000000;
    font-weight: 750;
}
.img-container{
    text-align: center;
}
.h2 {
font-size: 48px;
color: #000000;
font-weight: 750;
}
.traveler-img{ 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
}
.card{
    padding: 15px;
    top: 75px;
    width: 500px;
    margin: auto;
}
.card-title{
    margin: auto;
}
.edit-icon:hover{
    cursor: pointer;
}